<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>        
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/index.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='./icons/favicon.png') }}" /> <!-- For setting custom mini icon on the title tab of web page -->
        <script src="{{ url_for('static', filename='./js/index.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body onLoad="setInterval(()=>{remove_msg();},3000)">

        <!-- NavBar start -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='./icons/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                SmokeFireAI
              </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('static',filename='./doc/report.pdf') }}">Documentation</a>
                  </li>
                  {% if session['type']=='admin' %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
                  </li>
                  {% endif %}
                  {% if session['username'] %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('settings') }}">Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('analytics') }}">Analytics</a>
                  </li>
                  {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if session['username'] %}
                <img src="{{ session['profilePic'] }}" class="profile"><font color="white">Hi, {{ session['username'] }} </font> &nbsp;&nbsp;
                    <li>&nbsp;&nbsp;<a href="{{ url_for('logout') }}"><button class="btn btn-primary mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                    </svg> Logout</button></a></li>
                {% else %}
                        <li class="mx-2"><a href="{{ url_for('register') }}"><button class="btn btn-primary mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16">
                          <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                          <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                        </svg> Sign Up</button></a></li>
                        <li class="mx-2"><a href="{{ url_for('login') }}"><button class="btn btn-primary mb-2"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                          <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg> Login</button></a></li>
                {% endif %}        
                <li><a class="navbar-brand mx-3" href="https://github.com/apoorvjha">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg>
                </a></li>
                </ul>
            </div>
          </nav>
        <!-- NavBar end -->
          <br><br><br>
          <!-- Flash Messages start -->
        {% with messages=get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class="{{ category }}" id="{{ category }}" role="alert">
              {{ message }}			
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- Flash Messages end -->
        <!-- Workspace start -->
        {% block main %} {% endblock %}
        <!-- Workspace end -->
        <br><br><br>
        <!-- Footer start -->
        <footer class="footer fixed-bottom">
          <center>
            <!-- Copyright -->
            <div class="mb-3">© 2022 Copyright:
              <a href="https://github.com/apoorvjha"> SmokeFireAI</a>
            </div>
            <!-- Copyright -->
          </center>
          </footer>
        <!-- Footer end -->
    </body>
</html>
